---
---

<p class="lead">
  Uh, that's meta. Eine Seite mit Informationen über eine Seite.
</p>

<div class="overview">
  <h2>Allgemeine Informationen</h2>

  <div class="row">
    {% include overview_card.html
      title="Offizielles Team-Profil"
      subtitle="auf diaspora*"
      description="diaspora*-Profil, mit dem wir wichtige Ankündigungen und Informationen verteilen."
      url="https://pod.geraspora.de/u/team"
    %}
  </div>
</div>

<div class="overview">
  <h2>Rechtliches</h2>

  <div class="row">
    {% include overview_card.html
      title="Nutzungsbedingungen"
      subtitle="und Datenschutzbestimmungen"
      description="Rechtliche Informationen zur Nutzung des Pods, und Datenschutzbestimmungen."
      url="/pod/legal.html"
    %}
    {% include overview_card.html
      title="Gelöschte Inhalte"
      subtitle="nicht nur der Code ist transparent..."
      description="Komplette Liste mit Inhalten oder Nutzern, die nach Verstößen gegen unsere Regeln gelöscht wurden."
      url="/pod/deleted_contents.html"
    %}
  </div>
</div>

<div class="overview">
  <h2>Sonstiges</h2>

  <div class="row">
    {% include overview_card.html
      title="Dias"
      subtitle="Bunte Bildchen."
      description="Eine Übersicht über unsere früheren monatlich wechselnden Bilder im Header von Geraspora (und anderen Pods)!"
      url="http://dias.geraspora.de/"
    %}
  </div>
</div>
