<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {% if page.title %}
        {{ page.title }} - Geraspora Meta
      {% else %}
        Geraspora Meta
      {% endif %}
    </title>

    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Geraspora Meta</a>
        <ul class="navbar-nav mr-auto">
          {% if page.url != "/" %}
            <li class="nav-item">
              <a class="nav-link" href="/">
                zur Übersicht
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
