<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
	
	<!--[if lte IE 7]>
	  <link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <header>
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
			  <h1>Geraspora</h1>
		  </div>
	  </div>
  </header>
  <nav id="nav">
	  <div class="ym-wrapper">
		  <div class="ym-hlist">
			  <ul>
				  <li><a href="index.html">Home</a></li>
			  </ul>
		  </div>
	  </div>
  </nav>
  <div id="main">
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
        {{ content }}
		  </div>
	  </div>
  </div>
  <footer>
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
			  <p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">CC BY-NC-SA</a> Geraspora Team. Layout basiert auf <a href="http://www.yaml.de" target="_blank">YAML</a></p>
		  </div>
	  </div>
  </footer>
</body>
</html>

