<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
	
	<!--[if lte IE 7]>
	  <link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <header>
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
			  <h1>Geraspora</h1>
		  </div>
	  </div>
  </header>
  <nav id="nav">
	  <div class="ym-wrapper">
		  <div class="ym-hlist">
			  <ul>
				  <li><a href="index.html">Home</a></li>
			  </ul>
		  </div>
	  </div>
  </nav>
  <div id="main">
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
        <section class="ym-grid linearize-level-1">
          <section class="ym-g66 ym-gl content">
            {{ content }}
          </section>

          <aside class="ym-g33 ym-gr">
            <div class="ym-gbox-right ym-clearfix">
              <h3>Aktuelle Nachrichten</h3>
              <p>
                ... gibt es von unsererem Diaspora* Team-Konto,
                <a href="https://pod.geraspora.de/u/team" target="_blank">team@pod.geraspora.de</a>.
                Kontaktanfragen werden automatisch akzeptiert, damit auch private
                Nachrichten gesendet werden können.
              </p>
              
              <h3>Server Status</h3>
              <p>
                Es fehlt (noch) eine automatisierte Anzeige, die alle Dienste überprüft
                und Fehlermeldungen anzeigt. Im Falle eines Ausfalls, sind wir aber auch
                <a href="https://twitter.com/geraspora" target="_blank">per Twitter</a> erreichbar und werden
                dort Informationen zum Serverausfall schreiben.
              </p>
              
              <h3>Kontakt</h3>
              <p>
                Wir sind jederzeit per Diaspora-Direktnachricht zu erreichen. Im Falle
                eines Falles aber auch <a href="mailto:contact@geraspora.de">per eMail</a>.
              </p>
            </div>
          </aside>
        </section>
		  </div>
	  </div>
  </div>
  <footer>
	  <div class="ym-wrapper">
		  <div class="ym-wbox">
			  <p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">CC BY-NC-SA</a> Geraspora Team. Layout basiert auf <a href="http://www.yaml.de" target="_blank">YAML</a></p>
		  </div>
	  </div>
  </footer>
</body>
</html>

